#front-page-splash {
  background-color:#003b5c;
  background-image:url('/static/baggrundsbillede3.jpg');
  background-position:center bottom;
  background-size:cover;
  background-attachment:fixed;
}
