.mei-wrapper {
  position:relative;
}
.mei_options {
  margin:10px 0 0 !important;
  position:absolute;
  top:0;
  right:1em;
  input[type="radio"] {
    position:static;
    opacity:1;
    -webkit-appearance: radio;
  }
}
.mei_menu_container {
  margin:0!important;
  position:static!important;
  &, * {
    color:black!important; // override bootstrap
    font-size:14px!important; // override bootstrap
  }
  .label { // override bootstrap
    padding:0!important;
  }
  .menu_icon_container {
    text-align:right;
  }
}
.mei {
  float:none!important;
  margin-right:0 !important;
  width:calc(100% - 4.5rem)!important;
  max-width:50rem!important; // corresponds to a reasonable musical note size
  svg {
    .dir.comment {
      fill:#0000ff!important;
      stroke:#0000ff!important;
      tspan.text {
        font-family: 'Montserrat', sans-serif;
      }
    }
  }
}
