.mei-wrapper {
  position:relative;
}
.mei_options {
  margin:10px 0 0 !important;
  position:absolute;
  top:0;
  right:0;
}
.mei_menu_container {
  margin:0!important;
  position:static!important;
  &, * {
    color:black!important; // override bootstrap
    font-size:14px!important; // override bootstrap
  }
  .label { // override bootstrap
    padding:0!important;
  }
  .menu_icon_container {
    text-align:right;
  }
}
.mei {
  float:none!important;
  margin-right:0 !important;
  width:calc(100% - 3.5rem)!important;
  max-width:none!important;
}
