.header__logo {
  .header__site-name {
    color: #7A003A;
    display:block;
    line-height:1;
    h1 {
      margin-top:0;
    }
    p {
      margin-bottom:0;
      font-family:"Cormorant", serif;
      font-weight:600;
      text-transform:uppercase;
      letter-spacing:1.3px;
    }
  }
}
