.text-list {
  h4 {
    margin: 2rem 0;
    &:not(:first-of-type) {
      margin-top:3rem;
    }
  }
  ul {
    display:grid;
    list-style:none;
    padding-left:0;
    grid-gap: 2rem;
    li {
      position:relative;
      margin:0;
      a {
        color: black;
        display: block;
        background-color:#ECECE8;
        height: 100%;
        padding: 0 0 3rem;
        transition:background-color 200ms ease;
        border:1px solid rgba(0,0,0,.15);
        overflow:auto; // prevent parent-child margin collapse
        &:focus,
        &:hover {
          text-decoration:none;
          background-color:#ccccc8;
        }
      }
    }
  }
  img {
    display: block;
    height: auto;
    width:auto;
    max-height: 40vh;
    margin:3rem auto 0;
    border:1px solid rgba(0,0,0,.15);
    @media all and(min-width:768px) {
      width:100%;
      max-height:none;
      margin:0;
      border-width:0 0 1px;
    }
  }
  .text-title {
    font-family:"Cormorant", serif;
    line-height:1.1;
    font-size:2em;
    font-weight:600;
    display:block;
    padding: 3rem 3rem 0;
  }
  .text-description {
    display: block;
    font-weight: normal;
    padding: 3rem 3rem 0;
  }
  .text-title + .text-description {
    padding-top:1.35rem;
  }
}

.text-list.grid {
  ul {
    @media all and(min-width:768px) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    @media all and(min-width:1200px) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
}
