venv
*.pyc
nohup.out
__pycache__
generic_literature_site.egg-info/
build
dist
.idea
.sass-cache
generic_literature_site/static/styles.css
generic_literature_site/locale/generic_literature_site.pot
generic_literature_site/locale/en/LC_MESSAGES/generic_literature_site.mo
generic_literature_site/locale/en/LC_MESSAGES/generic_literature_site.po~

